# Ignore node_modules directory
node_modules/

# Ignore build or distribution directories
dist/
build/

# Ignore any files or directories generated during development or build processes
.DS_Store
npm-debug.log
yarn-error.log
coverage/

# Ignore environment-specific files
.env

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore any personal or sensitive information
config.json
secrets.txt
